
*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #24282f;
    padding-top: 31px;
}
.container{
    max-width: 1095px;
    margin: auto;

}
.d-flex{
    justify-content: space-between;
    display: flex;

}
header nav ul{
    display: flex;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
header nav ul li{
    margin-left: 24px;


}
header nav ul li a{
    color: #ffffff;
    font-size: 13px;
    padding: 0 13px;
    text-decoration: none;
}
header nav ul li:hover:after{

    background-color: #b5a263;
    width: 100%;

}
header nav ul li:after{
    display: block;
    transition: 0.3s;
    width: 0;
    content: "";
    height: 2px;
    margin-top: 33px;
}
header section {
    background-image:url('../images/fon3.png');
    background-size: cover ;



}
header section div{
    max-width: 1095px;
    margin: auto;

}
h1{
    color: #ffffff;
    font-size: 23px;
    padding-top: 71px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;

}
header section div p{
    color: #ffffff;
    font-size: 8px;
    line-height: 11px;
    padding-bottom: 85px;
    padding-top: 20px;
    font-family: 'Open Sans', sans-serif;


}
.man{
    background-color: #ffffff;
    padding: 120px 0 24px 0;
}
.man h2{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
}
.what{
    background-color: #f7f7f7;
    padding: 95px 0;
}
.what h2{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
}

.f {
    background-color: #2b2f35;
    padding: 60px 0 35px 0;
}
.container_f{
    max-width: 1095px;
    margin: auto;
    justify-content: space-between;
    display: flex;


}
.container_f p{
    font-family: 'Open Sans', sans-serif;
    color: #5d6167;
    font-size: 8px;
    line-height: 12px;

}
.container_f h3{
    color: #b3a062;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;

}
.abo{
    width: 234px;

}
.con{
    margin:0 125px 0 137px;
    width: 160px;

}
.sub{
    width: 237px;


}
.sub .email{
    border-color: #61656b;
    width: 100%;
    background-color: #2b2f35;
    color: #62666d;
    padding: 10px 0 10px 8px ;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;

}
.sub .now{
    border: none;
    width: 100%;
    background-color: #b5a263;
    color: #faf9f5;
    font-size: 10px;
    text-transform: uppercase;
    padding: 10px 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;


}


footer .btn_soc {
    display: inline-block;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    text-align: center;
    border: solid 1px #5b5f66;
    margin-left: 8px;
    transition: 0.3s;
}

footer .btn_soc i{
    color: #5b5f66 ;
    font-size: 12px;
    text-align: center;
}
footer{
    background-color: #24282f;
    padding: 14px 0;

}
footer .btn_soc:hover{
    background-color: #b5a263;
    border: solid 1px #b5a263 ;
}
footer .btn_soc:hover i{
    color: white;
}
footer div p{
    color: #4e5259;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

}